@media only screen and (max-width: 480px) and (min-width: 320px) {
    .MuiPickersToolbar-toolbarLandscape {
        width: 100% !important;
        max-width: 100% !important;
    }
    .MuiPickersBasePicker-container,
    .MuiPickersBasePicker-containerLandscape {
        flex-direction: column !important;
    }
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-swiper-card {
    height: 300px;
    width: 90%;
    display: flex;
    transition: transform 0.15s ease-in-out;
    flex-direction: column;
    background-color: #fff;
}

.client-feedback {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slick Slider */
.slick-slider {
    width: 100%;
}
.slick-next:before,
.slick-prev:before {
    font-size: 28px !important;
    font-weight: bold !important;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000 !important;
}
.slick-prev:before {
    /* content: '\ee06'; */
}
.slick-prev {
    left: 80px !important;
    z-index: 99;
    color: #000 !important;
}
.slick-prev,
.slick-next {
    /* background: $themeColor !important; */
    color: #000 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 15px !important;
    border-radius: 100%;
    top: 20% !important;
}

.slick-next {
    right: 80px !important;
    color: #000 !important;
    z-index: 99;
}
.slick-dots {
    bottom: 10px !important;
}

.flex {
    display: flex;
}
.aic {
    align-items: center;
}
.jc {
    justify-content: center;
}
.flex-col {
    flex-direction: column;
}
.wrapper {
    width: 460px;
    margin: 0 auto;
}

.offers {
    /* padding: 12px 0; */
    /* background: #f3f3f3; */
}

.block {
    overflow: hidden;
}

.card {
    transition: transform 0.15s ease-in-out;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    height: 424px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card .img {
    height: 100px;
    width: 100%;
    border-radius: 50%;
}

.card .img .user-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: fill;
}

.quotation-sign {
    margin: 20px 0;
}
.quotation-sign .quote-img {
    /* height: 20px;
    width: 20px; */
}
.desc {
    font-size: 1rem;
    font-family: Sora, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    /* height: 124px;
    overflow-y: auto; */
}

.user-info {
    margin-top: 25px;
}

.user-info .name {
    font-size: 1rem;
    font-family: Sora, sans-serif;
    font-weight: 500;
    /* line-height: 1.5; */
    text-transform: uppercase;
}
.user-info .designation {
    font-size: 0.8rem;
    font-family: Sora, sans-serif;
    font-weight: 400;
    /* line-height: 1.5; */
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .wrapper {
        width: 400px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .wrapper {
        width: 400px;
        padding: 0px 2%;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .wrapper {
        width: 300px;
        padding: 0px 5%;
    }
    .offers {
        width: 100%;
        padding: 0;
    }
    .block {
        width: 100%;
        padding: 0;
    }
    .card {
        padding: 20px 10px;
        width: 100%;
    }
    .slick-prev {
        left: 40px !important;
    }
    .slick-next {
        right: 40px !important;
    }
}

.date-time-picker-mui {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.calender-side {
    flex: 1;
}
.time-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.MuiDateRangePickerInput-root {
    /* margin-top: 20px;
    margin-bottom: 30px; */
    flex-direction: column !important;
}
.MuiFormControl-root {
    width: 300px !important;
    margin-bottom: 20px !important;
}

@media (max-width: 500px) {
    .date-time-picker-mui {
        flex-direction: column !important;
        width: 100% !important;
    }
    .MuiDateRangePickerViewDesktop-root {
        display: flex !important;
        flex-direction: column !important;
    }
    .time-side {
        width: 100%;
    }
}
